/*.bottom-page-margin {*/
/*    !*margin-top: 5%;*!*/
/*}*/

.roadmap {
    width: 75vw;
    padding-bottom: 10%;
    padding-top: 5%;
}
.launch-button {
    position: absolute;
    background-color: #00a2e8;
    color: #fff;
    /*    doesn't work currently but it has the same colors riisikumi's design uses*/
}
.cockVersion {
    position: absolute;
    color: #fff;
    margin-top: 22px;
    margin-left: 257px;
}
.patcherState {
    color: #fff;
    position: absolute;
    margin-top: -45px;
    margin-left: -230px;
}
.patcherState img {
    position: absolute;
    height: 40px;
    width: 40px;
    margin-left: -55px;
    margin-top: 17px;
}
