.log-line-item {
    /*color: #fafafa;*/
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.log-line-item:focus {
    outline: 0;
}

.log-line,
.log-line span,
.log-line code {
    word-wrap: normal;
    font-family: Monaco, monospace;
    font-size: 12px;
    white-space: pre-wrap;
}

.log-group {
    /*height: 100%;*/
    padding: 8px;
    max-width: 100%;
    background: #212121;
    /*min-height: 70px;*/
    height: 299px;
    overflow-y: hidden;
}

.log-wrapper {
    margin-left: 15vw;
    max-width: 70vw;
}
