@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/rubik-reg400.ttf) format("truetype");
}

@font-face {
    font-family: "Rubik";
    font-style: italic;
    font-weight: 400;
    src: url(../assets/fonts/rubik-italic400.ttf) format("truetype");
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

:root {
    font-family: "Rubik", sans-serif !important;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(../assets/images/bg-peacock.png) no-repeat center center fixed;

    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.subtitle {
    margin-top: 40px !important;
}
